<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <title>Product_details</title>
       <style>
        .GFG {
            background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
            text-decoration:none;
        }
    </style>
  </head>
  <body>
   <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sr.NO</th>
         <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Barcode</th>
      <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
      <th></th>

    </tr>
  </thead>
  <tbody id="posBody">
{% for i in od %}
    <tr>
      <th scope="row">{{i.0}}</th>
      <td>{{i.1}}</td>
      <td>{{i.2}}</td>
      <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>



    </tr>
  {% endfor %}
  </tbody>

</table>
   <div class="form-row" style="margin-top:20px;">
    <div style="margin-left:10px;" >
      <p class="form-control"><b>TOTAL Bill:- </b></p>
    </div>
    <div style="margin-left:20px;">
      <p  class="form-control"><b id="lblTotal">{{total_sum}}/- pkr </b></p>
        <a href="javascript:history.back()" class=" GFG"> GO BACK</a>
    </div>

  </div>
           <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
<script>




</script>