{% extends 'myCart/basic.html' %}

{% block body %}
<div class="container row">

      {% for i in allProds %}

<div class="card col-md-4" style="width: 18rem;">
     <img height="100px" width="40px" src='/Pictures/{{i.3}}' class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{i.2}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{i.0}}</h6>
<!--    <p class="card-text">{{i.3}}.</p>-->
      <a href="/myCart/viewpro/{{i.1}}/{{i.0}}" class="card-link" >Details</a>
  </div>
</div>



    {% endfor %}
</div>
{% endblock %}