{% extends 'myCart/basic.html' %}
{% comment %} {% block css %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% endblock%} {% endcomment %}
{% block body %}
<form >{% csrf_token %}



<div class="container mt-5 col-md-12">

  <div class="form-row">

<!--    <div class="col-3">-->
<!--      <input type="text" class="form-control" placeholder="BarCode" id="barcode" name='barcode'>-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--      <input type="text" class="form-control" placeholder="Quantity" id="quantity" name='quantity'>-->
<!--    </div>-->
<!--    <div class="col-auto">-->
<!--      <button type="submit" class="btn btn-primary mb-2" id="add_to_Cart">ADD</button>-->
<!--    </div>-->
<!--  </div>-->

  <div class="form-row">
    <div >
      <p class="form-control"><b>TOTAL :- </b></p>
    </div>
    <div >
      <p  class="form-control"><b id="lblTotal">0 </b></p>
    </div>
  </div>
</div>
</form>
<!--<form action="/myCart/forcheckout" method="get" >{% csrf_token %}-->

<div class="container mt-5">
<div class="col-auto">
<!--      <button type="submit" class="btn btn-primary mb-2" id="goCheckout">Checkout</button>-->
      <input id="btnCheckOut" value="Check out" type="button" class="btn btn-primary mb-2" />

</div>
</div>
<!--</form>-->

<div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table" border="1px solid black">
                <thead>
                  <tr>
                    <th scope="col">Barcode</th>
                    <th scope="col">PRODUCT NAME</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">TOTAL</th>

                  </tr>
                </thead>
                <tbody id="posBody">


                                 </tbody>
              </table>
            </div>

{% endblock %}

{% block js %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


<scipt src="https://cdnjs.cloudflare.com/ajax/libs/scannerdetection/1.2.0/jquery.scannerdetection.compatibility.js"></scipt>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scannerdetection/1.2.0/jquery.scannerdetection.compatibility.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scannerdetection/1.2.0/jquery.scannerdetection.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scannerdetection/1.2.0/jquery.scannerdetection.min.js"></script>


<script>

$("#btnCheckOut").on("click",function(e){
    e.preventDefault();
    var txt;
    if (confirm("Are you sure that you want to checkout?")) {
      $.ajax({
        type: "POST",
        url: "/myCart/forcheckout/",
        // handle a successful response
        success : function(data) {

          location.reload(true);
        },

        error : function() {
                alert("fail");
        }
      });
    } 
    else {
      txt = "You pressed Cancel!";
    }
});


var proName=null
$(document).ready(function(e){
  $.ajax({
      type: "GET",
      url: "/myCart/seedata/",
      // handle a successful response
      success : function(data) {

        arr12=data['result'][data['result'].length-1]
        arr112=arr12.toString();
        arr212=arr112.split(",");
        proName=arr212[2]
        console.log("prodcut "+proName)

        $('#posBody').empty();
        var lnt=data['result'].length
        console.log("length"+lnt)
        sum=0;
        for(i=0;i<lnt;i++){
          arr=data['result'][i]
          arr1=arr.toString();
          arr2=arr1.split(",");
          name=arr2[2]
          var appn=`<tr>
                        <td scope="col">`+arr2[3]+`</td>
                        <td scope="col">`+arr2[2]+`</td>
                        <td scope="col">`+arr2[5]+`</td>
                        <td scope="col">`+arr2[4]+`</th>
                        <td scope="col">`+arr2[6]+`</td>

                      </tr>`

          $('#posBody').append(appn)
          sum=sum+parseInt(arr2[6])
        }

        $('#lblTotal').text(sum)


      }
 });

  

    var scannerInput;
    var proName=null;
    console.log("test")
    $(document).scannerDetection({

        timeBeforeScanTest: 200,
        avgTimeByChar: 40,
        endChar: [13],
        onComplete: function(barcode, qty) {
            scannerInput = barcode;
            console.log(scannerInput)

            sum=0;
            $.ajax({
                type: "GET",
                url: "/myCart/addlist/",
                data:{barcode:scannerInput, quantity:'1'},
                // handle a successful response
                success : function(data) {

                    arr12=data['result'][data['result'].length-1]
                    arr112=arr12.toString();
                    arr212=arr112.split(",");
                    proName=arr212[2]
                    console.log("prodcut "+proName)

                    $('#posBody').empty();
                    var lnt=data['result'].length
                    console.log("length"+lnt)
                    for(i=0;i<lnt;i++){
                    arr=data['result'][i]
                    arr1=arr.toString();
                    arr2=arr1.split(",");
                    name=arr2[2]
                    var appn=`<tr>
                                  <td scope="col">`+arr2[3]+`</td>
                                  <td scope="col">`+arr2[2]+`</td>
                                  <td scope="col">`+arr2[5]+`</td>
                                  <td scope="col">`+arr2[4]+`</th>
                                  <td scope="col">`+arr2[6]+`</td>

                                </tr>`

                    $('#posBody').append(appn)
                    sum=sum+parseInt(arr2[6])
                    }

                    $('#lblTotal').text(sum)


                    $.ajax({
                        type: "GET",
                        url: "/myCart/Recommend_item/",
                        data:{my_value:proName},
                        // handle a successful response
                        success : function(data) {
                            if((data['already_val'].length)>0)
                        {

                         $('#add_rec').empty();
                         for(i=0;i<data['already_val'].length;i++)
                         {
                         var val=`<a href="#" class="list-group-item list-group-item-action bg-light">`+data['already_val'][i]+`</a>`
                         $('#add_rec').append(val)
                         }
                        }
                        },
                        // handle a non-successful response
                        error : function() {
                            alert("a");
                        }
                    });


                }
            });
        }
    });

  $("#add_to_Cart").on("click",function(e){
  e.preventDefault();
    $.ajax({
      type: "GET",
      url: "/myCart/addlist/",
      data:{barcode:$("#barcode").val(),quantity:$("#quantity").val()},
      // handle a successful response
      success : function(data) {


      },
// handle a non-successful response
      error : function() {
        alert("ac");
      }

    });

//to add in the database :

  });


  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

});


</script>
{% endblock %}