{% extends 'myCart/basic.html' %}

{% block body %}
<div class="container my-4">
     {% for i in allProds %}

    <div class="row">
    <div class="col-md-4">
    <div class="row">
     <img src='/Pictures/{{i.8}}' class="card-img-top" alt="">
    </div>
        <div class="row">
            <a href="/myCart/subpro/{{i.0}}"class="card-link">Add to list</a>
        </div>

    </div>

    <div class="col-md-8">
        <h5>{{i.3}}</h5>
        <p><b>Rs.{{i.6}} </b></p>
        <p>{{i.4}}</p>


    </div>
    </div>
     {% endfor %}


</div>




{% endblock %}


